img{
    width: 500px;
}
button.buton.hover{
    color: yellowgreen;
    box-shadow: 1px 1px 12px 1px red;
}
@media (max-width : 800px) {
    .content{
        font-size: 14px;
        flex-direction: column;
    }
    .img{
        width: 200px;
    }
    
}