.content
{
    margin-left: 50%;
    margin-top: -300px;
  
}
.topic
{
    padding-bottom: 5%;
}
.button
{
    margin-left: 70%;
    padding-top: 5%;
}
footer
{
    margin-left: 50%;
}
.imgs
{
    height: 50%;
    width: 500px;
}